.title {
    color: red;
    background: aqua;
    text-align: center;
    border-radius: 0 30px 0 30px; 
}

.desc {
    color: yellow;
    background: #000;
    text-align: center;
    border: 5px solid red;
    border-radius: 15px;
    font-size: 20px;
}

.css {
    width: 30%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}

.inline {
    color: red;
}

.internal {
    color: green;
}

.external {
    color: blue;
}